
<ion-content [fullscreen]="true">
 
  <ion-row class="login-page-outer">
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">
        <ion-thumbnail>
         <img src="assets/img/logo-1.png">
        </ion-thumbnail>
        <ion-item class="login-tab" lines="none" color="light-contrast-rgb">
        
          <ion-label [routerLink]="['/login']">Login</ion-label>
          <ion-label [routerLink]="['/register']">SignUp</ion-label>
        </ion-item>
 
        <ion-card>
 
          <ion-card-container>
            
            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email"></ion-input>
          </ion-card-container>
 
          <ion-card-container>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.pw">
            </ion-input>
          </ion-card-container>
 
          <ion-button (click)="login()" shape="round" expand="block" fill="outline" color="dark" >Login</ion-button>
          
 
        </ion-card>
      
 
    </ion-col>
  </ion-row>
 <ion-router-link href="#" class="underline" vertical="bottom" horizontal="center">Terms & Conditions</ion-router-link>
</ion-content>
